# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://mmczhttyuqgjjnvjdfjk.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_aRKTniRTFsWGhTnM_LAU0Q_wgfRg4iA

# Optional: For production
NEXT_PUBLIC_SITE_URL=http://localhost:3000
